body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    background-color: #81fb85;
}

nav {
    background-color: #808080;
}

main {
    background-color: #dfdfdf;
    font-size: 20px;
}

footer {
    background-color: #2a0000;
    text-align: center;
}

li {
    display: inline-block;
    width: 150px;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #03192f;
}

p {
    line-height: 2.0;
}